* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

input {
    all: unset;
}

ul,
li {
    list-style-type: none;
}

h1,
h2,
h4,
p {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: inherit;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--active-color-default);
}
