.ArticleDetails {
    min-height: 100%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    svg {
        width: 30px;
        height: 30px;
        fill: var(--text-primary);
        flex: none;
    }
}

.ImageWrapper {
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow-default);
}
