/* stylelint-disable no-descending-specificity */
.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
}

.clearInverted,
.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--text-primary);
}

.outline {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--text-primary);
    color: var(--text-primary);
    background: none;
}

.decline {
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 20px;
    font-weight: 700;
    color: var(--error-color);
    background-color: transparent;
    border: 1px solid var(--border-color);

    &:hover {
        transition: 0.3s ease-in-out;
        opacity: 0.8;
    }

    &:disabled,
    &[disabled] {
        color: var(--error-color-disabled);
        pointer-events: none;
    }
}

.default {
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 20px;
    color: white;
    background-color: var(--active-color-default);
    box-shadow: var(--box-shadow-default);

    &:hover {
        background-color: var(--active-color-hover);
    }

    &:active {
        transform: translateY(1px);
    }

    &:disabled,
    &[disabled] {
        background-color: var(--active-color-disabled);
        pointer-events: none;
    }
}

.close_error {
    width: 9px;
    height: 9px;
    line-height: 0;

    svg {
        width: 100%;
        height: 100%;
    }
}

.svg_btn {
    width: 20px;
    height: 20px;
    background: transparent;
    color: var(--color-medium-grey);

    svg {
        width: 100%;
        height: 100%;
    }

    svg:hover {
        color: var(--color-dark-grey);
    }
}

.background {
    background: var(--bg-secondary);
    color: var(--text-primary);
    border: none;

    svg {
        path {
            fill: var(--text-primary);
        }
    }
}

.backgroundInverted {
    background: var(--bg-secondary);
    color: var(--text-primary);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
}
