.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--primary-color);
    width: 25px;
    height: 25px;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.collapsed {
    .link {
        display: none;
    }
}
