.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: 300px;
    min-width: 300px;
    position: relative;
    transition: width 0.3s ease-in-out;
    background-color: var(--bg-primary);
    padding: 30px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: block;
    align-items: left;
}

.lang {
    color: var(--text-primary);
    margin-bottom: 15px;
}

.collapsedBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    background-color: var(--bg-primary);

    &:active {
        transition: transform 0.1s ease-in-out;
        transform: translateY(2px);
    }
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    min-width: var(--sidebar-width-collapsed);
    padding: 5px;

    .switchers {
        display: flex;
        width: 100%;
        left: 0;
        align-items: center;
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
        margin-top: 10px;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
        display: none;
    }
}
