.Code {
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    padding: 20px;
    position: relative;
    overflow: auto;
    box-shadow: inset 1px 1px 5px var(--bg-secondary);
    background: var(--bg-primary);

    &::-webkit-scrollbar {
        height: 7px;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--active-color-default);
    }

    code {
        line-height: 30px;
    }
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--active-color-default);

    path {
        stroke: #fff;
    }
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 0.2s ease-in-out;

    &:disabled {
        pointer-events: none;

        .icon {
            path {
                stroke: var(--active-color-disabled);
            }

            background-color: var(--color-medium-grey);
        }

        &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: 35px;
            background-color: var(--active-color-default);
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
        }

        &::after {
            content: "Copied";
            position: absolute;
            color: #fff;
            top: 0;
            right: 38px;
            background-color: var(--active-color-default);
            border: 1px solid var(--active-color-default);
            padding: 2px 5px;
            border-radius: 10px;
            font-size: 10px;
        }
    }

    &:hover {
        .icon {
            transition: 0.1s ease-in-out;
            background-color: var(--active-color-hover);
        }
    }
}
