.ArticleDetailsPageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editBtn {
    svg {
        height: 30px;
        width: 30px;

        path {
            stroke: white;
        }
    }
}
