.error {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid var(--error-color);
    border-radius: 6px;
    font-size: 16px;
    padding: 16px 24px;
    width: 100%;
    margin-bottom: 10px;
    color: var(--error-color);
    background: var(--error-bg);
}

.title {
    margin: 0;
}
