.ArticleDetailsPage {
    position: relative;
}

.commenTitle {
    margin: 20px 0;
}

.recommendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px 5px;
}
