.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--bg-color-alt);
    display: flex;
    align-items: center;
    padding: 20px;

    .links {
        margin-left: auto;
        padding: 8px;

        .mainLink {
            margin-right: 15px;
        }
    }
}
