.Navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--border-color);
}

.logo {
    height: 50px;
    width: 200px;
}

.avatar {
    box-shadow: var(--box-shadow-default);
}

.addArticleLink {
    display: flex;

    svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;

        path: {
            fill: white;
        }
    }
}
