.ProfileCard {
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.editing {
    border: 2px solid var(--active-color-default);
}

.bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: center;
}

.InputContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 10%;
}

.input {
    margin-top: 10px;
    width: 45%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}
