.ProfileCard {
    padding: 20px 30px;
    outline: 1px solid var(--border-primary);
    background-color: var(--bg-primary);
    box-shadow: var(--box-shadow-default);
    border-radius: 10px;
}

.editing {
    outline: 1px solid var(--active-color-default);
}

.select {
    width: 100%;
}

.avatar {
    box-shadow: var(--box-shadow-default);
}

.avatarSettingBtn {
    display: flex;
    align-items: center;

    &:first-child {
        margin-bottom: 10px;
    }

    svg {
        height: 30px;
        width: 30px;
        fill: var(--active-color-default);
        margin-right: 5px;
    }
}

.loading {
    height: 500px;
}
