.ProfileCard {
    padding: 20px;
    outline: 1px solid var(--border-primary);
    background-color: var(--bg-primary);
    box-shadow: var(--box-shadow-default);
    border-radius: 10px;
}

.editing {
    outline: 1px solid var(--active-color-default);
}

.top {
    display: flex;
    align-items: center;
}

.InputContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 10%;
}

.flexBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input {
    width: 45%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}
