.AppLink {
    color: var(--text-primary);
}

.primary {
    color: var(--text-primary);
}

.default {
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 20px;
    color: white;
    background-color: var(--active-color-default);
    box-shadow: var(--box-shadow-default);

    &:hover {
        background-color: var(--active-color-hover);
    }

    &:active {
        transform: translateY(1px);
    }

    &:disabled,
    &[disabled] {
        background-color: var(--active-color-disabled);
        pointer-events: none;
    }
}

.red {
    color: red;
}
